<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script>
        function validateForm(){
            var domain = document.forms["uploadform"]["domain"].value
            var db = document.getElementById("db").value
            var port = document.getElementById("port").value
            var file=document.getElementById("file").value
            if(domain==null || domain==""){
                alert("请输入domain")
                return false
            }else if(db==null || db==""){
                alert("请输入数据库地址")
                return false
            }else if(port==null || port==""){
                alert("请输入数据库端口")
                return false
            }else if(file.length ==0){
                alert("请选择json文件")
                return false
            }else if (file.split('.').pop() != 'json'){  //pop()用于删除并返回数组的最后一个元素，在获取了数组的最后一个元素的同时也将原数组的最后一个元素给删除了
                alert("请上传json文件")
                return false
            }
            return true
        }
    </script>
	<title>自动化代码生成平台</title>
</head>
<body style="background-color: #CCC">
<div class="container">
    <h1>自动化代码生成平台</h1>
    <nav class="navbar navbar-inverse">
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/har">HAR</a></li>
                <li><a href="/json">JSON</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div>
            <form name="uploadform" role="form" class="form-horizontal" action="/upload/" onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="domain" class="col-sm-2 control-label"><strong>domian:</strong></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="请输入domain">
                    </div>
                </div>
                <div class="form-group">
                    <label for="db" class="col-sm-2 control-label">DB:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="db" name="db" placeholder="请输入数据库ip地址"/>
                    </div>
                    <label for="port" class="col-sm-2 control-label">端口:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" id="port" name="port" placeholder="端口"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>请选择json文件:</strong></label>
                    <div class="col-sm-3">
                        <input type=file id = "file" name="file" class="form-control" ><br>
                        <input type="submit" class="btn btn-default" value="生成代码">
                    </div>
                </div>
            </form>
        </div>
        <a href="/static/file/hardatadict.py" download="hardata.py" >点击下载生成的自动化代码文件<a/>
    </div>
</div>